.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SpotifyAuth {
	background-color:#1db954;
	border-radius:35px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  
  &:hover {
    background-color: #1ed75f;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}